absl-py==2.1.0
accelerate==1.0.1
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
altair==5.4.1
annotated-types==0.7.0
anyio==4.6.2.post1
async-timeout==4.0.3
attrs==24.2.0
bitsandbytes==0.44.1
blinker==1.8.2
cachetools==5.5.0
certifi==2024.8.30
chardet==5.2.0
charset-normalizer==3.4.0
click==8.1.7
cpm-kernels==1.0.11
datasets==2.14.5
dill==0.3.7
distro==1.9.0
einops==0.8.0
exceptiongroup==1.2.2
fastapi==0.115.2
filelock==3.16.1
./dependencies/flash_attn-2.6.2+cu123torch2.4cxx11abiFALSE-cp39-cp39-linux_x86_64.whl
frozenlist==1.4.1
fsspec==2023.6.0
gitdb==4.0.11
GitPython==3.1.43
grpcio==1.67.0
h11==0.14.0
httpcore==1.0.6
httpx==0.27.2
huggingface-hub==0.25.2
idna==3.10
importlib_metadata==8.5.0
jieba==0.42.1
Jinja2==3.1.4
jiter==0.6.1
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
loguru==0.7.2
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.1
mdurl==0.1.2
modelscope==1.19.2
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.15
narwhals==1.9.3
networkx==3.2.1
nltk==3.9.1
numpy==1.22.2
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.6.77
nvidia-nvtx-cu12==12.1.105
openai==1.51.2
packaging==24.1
pandas==2.0.3
peft==0.5.0
pillow==10.4.0
propcache==0.2.0
protobuf==5.28.2
psutil==6.0.0
pyarrow==17.0.0
pydantic==2.9.2
pydantic_core==2.23.4
pydeck==0.9.1
Pygments==2.18.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
referencing==0.35.1
regex==2024.9.11
requests==2.32.3
rich==13.9.2
rouge-chinese==1.0.3
rpds-py==0.20.0
safetensors==0.4.5
scipy==1.11.4
sentencepiece==0.1.97
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sse-starlette==2.1.3
starlette==0.40.0
streamlit==1.39.0
sympy==1.13.3
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
timm==1.0.10
tokenizers==0.20.1
toml==0.10.2
torch==2.4.1
torchvision==0.19.1
tornado==6.4.1
tqdm==4.66.5
transformers==4.46.0
triton==3.0.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
uvicorn==0.32.0
watchdog==5.0.3
Werkzeug==3.0.4
xformers==0.0.28.post1
xxhash==3.5.0
yarl==1.15.4
zipp==3.20.2
